<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.png" %>
	</div>
	<div id="offset">
		<div id="content">
			<ul class="about-profile-list">
				<li>My Skills - 
					<span>
						Programming, Full Stack Development, Mathematics and Agige Work. 
					</span>
				</li>
				<li>My Prefferred languages - 
					<span>Java, Ruby, PHP</span>
				</li>
				<li>My Likes - 
					<span>
					Butter Chicken,Arrow -TV Show,Fitbit Charge And Anna Kendrick. 
					</span>
				</li>
				<li>My Dislikes - 
					<span>
					Manipulative and Selfish People.
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>